<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTrackerapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" ></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>
 
  <body>
  <%= render 'layouts/navigation' %>
  <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
  </div>
  </body>
</html>
